body {
	margin: 0;
}

#alinhando-header{
	background-color: green;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 20px;
}
header > img {
	border-radius: 50%;
}

header > ul >li {
	background-color: orange;
	color: white;
	padding: 10px 20px;
	display: inline;
	border-radius: 5px;
	letter-spacing: 20px;
}

article {
	background-color: yellow; 
    margin: 50px 10% 0 10%; 
    padding: 15px;
}

footer {
	position:  fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: blue;
	padding: 50px 10px;
}