body {
	margin: 0;
}

header{
	background-color: green;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 20px
}
header > img {
	border-radius: 50%;
}

header > ul >li {
	background-color: orange;
	color: white;
	padding: 10px 20px;
	display: inline;
	border-radius: 5px;
	letter-spacing: 20px;
}